[submodule "verify-id-ui"]
	path = verify-id-ui
	url = https://github.com/Poom5741/verify-id-ui.git
[submodule "my_model_inference"]
	path = my_model_inference
	url = https://github.com/Poom5741/id_guard_llm_model.git
[submodule "identity_canister_project"]
	path = identity_canister_project
	url = https://github.com/Poom5741/identity_canister.git
[submodule "kyc"]
	path = kyc
	url = https://github.com/Poom5741/kyc.git
[submodule "llama_cpp_canister"]
	path = llama_cpp_canister
	url = https://github.com/Poom5741/llama_cpp_canister.git
